body {
  font-size: 1rem;
}
nav {
  background-color: gray;
  padding: 5px;
}
#contenedor {
  justify-content: center;
}
#buscador {
  margin-left: 0.5%;
  width: 30%;
  border-radius: 5px;
  padding: 0.3%;
  margin: 1%;
  border: none;
}
#buscador:focus {
  border-style: solid;
  border-color: black;
  border-width: 0.5px;
  outline: none;
}
#btnBuscar {
  margin-right: 40%;
}
#btnLogin {
  margin-right: 1%;
}
#filaCarrusel {
  justify-content: center;
}
#linkInicioSesion,
#linkRegistrarse {
  text-decoration: none;
  color: white;
}
